# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

gamemodes/championship.amx
filterscripts/SAOI_FileManager.amx
scriptfiles/geoip_city.db
pawno/include/main/meta/version.inc
server_log.txt
logs
SAOI Objects/saoi.log
fcnpc-crash_*
scriptfiles/Config/mysql.cfg
Resources/SAMP Dump File
Resources/map.txt